* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
i,
em {
  font-style: normal;
}
img {
  width: 100%;
  display: block;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
}
/*设置版面宽度*/
.view {
  max-width: 540px;
  min-width: 320px;
  margin: 5px auto;
  /*这是头部开始部分*/
  /*这是导航的开始部分*/
  /*这是特汇卖开始部分*/
  /*这是热门活动开始部分*/
  /*这是脚底开始部门*/
}
.view section .group {
  display: flex;
  height: 90px;
  background-color: #ff7645;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.view section .group > a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.view section .group > a em {
  width: 43px;
  height: 43px;
  background: url('../images/xc_sprites.png') no-repeat;
  background-size: 104px 327.5px;
  background-position: 0 -130px;
}
.view section .group .group_hotel,
.view section .group .group_airplane,
.view section .group .group_tour {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}
.view section .group .group_hotel > a,
.view section .group .group_airplane > a,
.view section .group .group_tour > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-left: 1px solid #ccc;
}
.view section .group .group_hotel > a:nth-child(-n+2),
.view section .group .group_airplane > a:nth-child(-n+2),
.view section .group .group_tour > a:nth-child(-n+2) {
  border-bottom: 1px solid #ccc;
}
.view section .airplane {
  background-color: #0099ff;
}
.view section .airplane > a em {
  background-position: left bottom;
}
.view section .tour {
  background-color: #00c73b;
}
.view section .tour > a em {
  background-position: 0 -238.5px;
}
.view nav {
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  font-size: 12px;
  color: #282828;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.view nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 5px 0;
}
.view nav a span {
  width: 28px;
  height: 28px;
  background: url('../images/un_ico_subnav_v7.124@2x.png') no-repeat;
  background-size: 24px 300px;
  background-position: 3px 5px;
}
.view nav a .insure {
  background-position: 4px -22px;
}
.view nav a .change {
  background-position: 4px -50px;
}
.view nav a .buy {
  background-position: 2px -272.5px;
}
.view nav a .guide {
  background-position: 3px -80px;
}
.view nav a .free {
  background-position: 5px -135px;
}
.view nav a .fun {
  background-position: 3px -165px;
}
.view nav a .gift {
  background-position: 3px -107.5px;
}
.view nav a .credit {
  background-position: 3px -192.5px;
}
.view nav a .more {
  background-position: 5px -242.5px;
}
.view .special {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}
.view .special .special_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.view .special .special_title h3 {
  font-size: 16px;
  font-style: italic;
  color: #ff2442;
}
.view .special .special_title a {
  font-size: 12px;
  color: #fff;
  background-color: #ff6789;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
}
.view .special .special_content {
  display: flex;
}
.view .special .special_content .content_lf {
  flex: 1;
}
.view .special .special_content .content_lf .special_text {
  font-size: 14px;
}
.view .special .special_content .content_lf .special_text p {
  height: 40px;
  overflow: hidden;
}
.view .special .special_content .content_lf .special_price span {
  color: #ff3e50;
}
.view .special .special_content .content_lf .special_price em {
  font-size: 12px;
  color: #fff;
  background: #ff2041;
  border-radius: 8px;
  padding: 0 4px;
}
.view .special .special_content .content_rg {
  flex: 1;
}
.view .special .special_content .content_rg .content_rg_value {
  height: 50%;
  background: url('../images/pic-tmh-02.png') no-repeat;
  background-size: 53.5px 71px;
  background-position: right bottom;
  padding: 10px 0 0 10px;
  background-color: #fbfbfb;
  border-bottom: 5px solid #fff;
}
.view .special .special_content .content_rg .content_rg_value h4 {
  font-size: 14px;
  color: #fe2041;
}
.view .special .special_content .content_rg .content_rg_value p {
  font-size: 12px;
}
.view .special .special_content .content_rg .content_rg_play {
  display: flex;
  height: 50%;
  background-color: #fbfbfb;
}
.view .special .special_content .content_rg .content_rg_play a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 5px solid #fff;
}
.view .special .special_content .content_rg .content_rg_play a h5 {
  color: #0bd7d4;
}
.view .special .special_content .content_rg .content_rg_play a span {
  font-size: 12px;
}
.view .special .special_content .content_rg .content_rg_play a img {
  width: 50px;
  height: 35px;
}
.view .hot {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.view .hot .hot_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.view .hot .hot_title h4 {
  font-size: 16px;
  font-style: italic;
  color: #ff9f00;
}
.view .hot .hot_title a {
  font-size: 12px;
  color: #fff;
  background-color: #ff6179;
  border-radius: 10px;
  padding: 2px 10px;
}
.view .hot .hot_content {
  display: flex;
  flex-wrap: wrap;
}
.view .hot .hot_content a {
  width: 50%;
}
.view .order {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.view .order .order_tel {
  display: flex;
  justify-content: space-around;
}
.view .order .order_tel a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view .order .order_vision {
  text-align: center;
}
.view .order .order_copy {
  text-align: center;
}
